<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <hr/>
    <p>
      This site comes with a range of exploits you can try:
    </p>
    <ul>
      <li><a href="/reflected-xss">Reflected Cross-Site-Script (XSS)</a></li>
      <li><a href="/xss">Stored Cross-Site-Script (XSS)</a></li>
      <li><a href="/command-execution">Command Execution</a></li>
      <li><a href="/login">SQL Injection</a></li>
    </ul>
  </body>
</html>
