<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page demonstrates an SQL injection vulnerability plus more.</p>
    <a href="/">back to home</a>
    <hr/>
    <% if (error) { %>
      <div class="error">
        <h2>Could not be signed in:</h2>
        <p><%- error %></p>
      </div>  
    <% } %>
    </p>
    <form method="POST">
      <label for="username">
        Username:<br/>
        <input type="email" name="email" placeholder="user@example.com" required/><br/>
      </label>
      <label for="password">
        Password:<br/>
        <input type="text" name="password" placeholder="secret password" required/><br/>
        <small>Using a text field for demonstration purposes so you can see what is being typed.</small>
      </label><br/>
      <input type="submit" name="Log In"/>
    </form>
  </body>
</html>
