<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This page demonstrates the Reflected Cross-Site-Scripting (XSS) vulnerbility.</p>
    <a href="/">back to home</a>
    <h2>Search for an NPM package</h2>
    <form>
      <label for="search">Search:</label>
      <input type="text" placeholder="search criteria" name="q" value="<%= q%>" style="width: 40em"/>
      <input type="submit" value="Search!!"/>
    </form>
    <% if(q) { %>
      <hr/>
      <h3>Search Results for "<%- q %>"</h3>
      <p>
        The search results would appear here in a real search.
      </p>
    <% } %>
  </body>
</html>
